/*/navbar elements for google/*/

body, html{
	font-family: arial, sans-serif;
	font-size: 14px;
	height: 100%;
	margin-left: -15px;
	margin-right: 0px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.navigation-bar{
/*	background-color: red;
*/	padding: 15px;
	z-index: 10;
}

.navigation-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
/*	background-color: yellow;*/ 

}

li a{
	text-decoration: none;
}

.navigation-bar ul .lnav{
/*	background-color: green;
*/	list-style-type: none;
	padding: 15px;
	display: inline-block;
	float: left;
}

.navigation-bar ul .rnav{
/*	background-color: orange;
*/	list-style-type: none;
	padding: 15px;
	display: inline-block;
	float: right;

}

.navigation-bar .rnav img{
	position: relative;
	bottom: 5px;
}

.navigation-bar a:hover{
	text-decoration: underline;
}

/*navbar google elements end*/

/*Google Logo*/
.middle {
	z-index: 1;
}

.middle .logo{
	padding: 5px;
	text-align: center;
	position: relative;
	top: 16vh;
}
/*end of Google Logo*/

/*Google Search*/

.middle input{
	padding: 5px;
	text-align: left;
	position: relative;
	width: 400px;
	}

.middle input[type=text]:hover{
	box-shadow: 2px 2px #565656;	
	border-opacity: 0.35;
}

.middle .searchbutton{
	padding: 5px;
	opacity: 0.7;
	position: relative;
	top: 10px;
	left: -20px;
}

.middle .luckybutton{
	padding: 5px;
	opacity: 0.7;
	position: relative;
	top: 10px;
	}

/*end google search*/

/*footers*/

.footer-bars{
	padding: 15px;
	height: 5%;
	position: fixed;
	bottom: 50px;
	width: 100%;
}

.footer-bars .t-bar{
	padding: 5px;
	background-color: #F2F2F2;
	width: 100%;
	border: 2px solid #E4E4E4;

}
.footer-bars .b-bar-left{
	padding: 5px;
	background-color: #F2F2F2;
	width: 100%;
	border: 2px;
	border-style: none solid solid solid;
	border-color: #E4E4E4
}

.footer-bars ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
/*	background-color: yellow;*/ 

}

li a{
	text-decoration: none;
	color: #ABABAB;
}

.footer-bars ul .bbar{
*/	list-style-type: none;
	padding: 15px;
	display: inline-block;
	float: left;
}

.footer-bars ul .bbarr{
*/	list-style-type: none;
	padding: 15px;
	display: inline-block;
	float: right;
	margin-right: 5px;
}

.footer-bars ul .tbar{
	list-style-type: none;
	padding: 15px;
	display: inline-block;
	float: left;

}


.footer-bars a:hover{
	text-decoration: underline;
}